.Form__input[type="number"]::-webkit-inner-spin-button,
.Form__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Form__input[type="number"] {
  -moz-appearance: textfield;
}

.Form__input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Form__btn[type="submit"] {
  width: 100%;
  background-color: var(--var-primary-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Form__btn--Confirm[type="submit"] {
  background-color: rgb(0, 180, 24);
}

.Form__btn[type="submit"]:hover {
  background-color: var(--var-secondary-color);
}

form {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  .FormWrap {
    display: grid;
    grid-template-columns: repeat(3, 2fr) 1fr;
    gap: 2rem;
  }
}

.infoErrorInput {
  color: var(--var-primary-color);
}
.ContactWrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 30px;
  }
  .ContactWrap__List {
    width: 80%;

    img {
      width: 25px;
      filter: invert(48%) sepia(79%) saturate(5000%) hue-rotate(10deg)
        brightness(118%) contrast(119%);
    }

    .Title__List {
      display: grid;
      grid-template-columns: 0.5fr repeat(3, 2fr) repeat(2, 1fr);
      place-items: center;
      margin-top: 30px;
      border-bottom: 2px solid gray;
      padding-bottom: 16px;
      img:nth-child(1) {
        width: 15px;
      }
    }

    .CardContact {
      display: grid;
      grid-template-columns: 0.5fr repeat(3, 2fr) repeat(2, 1fr);
      margin-top: 8px;
      justify-items: center;
      align-items: center;

      &:hover {
        background-color: rgb(228, 228, 228);
      }
      &:hover .btnEdit {
        display: block;
      }
      p {
        color: var(--var-secondary-color);
        font-size: var(--sm);
        &:nth-child(1) {
          font-size: var(--ssm);
        }
      }

      .btnEdit {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        display: none;

        &:hover img {
          filter: contrast(80%);
        }
      }
    }
  }
}
